<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.lesbarres.com/blog/wp-content/uploads/2016/01/cocktails1.jpg');">
  <div class="banner-content">
    <h1>MISTER COCKTAIL</h1>
    <p>Les meilleurs cocktails du monde</p>
    <a class="btn btn-primary btn-lg">Ajouter un cocktail</a>
  </div>
</div>
